.section_button {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    button {
        background-color: #FF4B3A;
        color: #fff;
        padding: 30px 50px;
        border-radius: 60px;
        font-size: 25px;
        border: 0;
        width: 314px;
    }
}