header{
    padding: 50px 30px;
    .corzina{
        padding-left: 290px;
    }
}
main{
    a{
        text-decoration: none;
    }
    padding: 0px 50px 0px 30px;
    font-size: 17px;
    .search_wrapper{
        padding: 2px;
        border-radius: 8px;
        background-color: var(--light-grey);
        img{margin-right: 10px;}
        span{
            font-size: 15px;
        }
    }
    nav{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: visible;
        scrollbar-width: none;
        a{
            font-size: 17px;
            text-decoration: none;
            margin: 20px;
            color: var(--secondary);
        }
        a:focus{
            color: var(--orange);
        }
    }
    .link_button{
        all: unset;
        color: var(--orange);
        margin-left: 260px;
    }
    .Foods{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        overflow-x: auto;
        overflow-y: visible;
        scrollbar-width: none;
        padding: 60px 0 120px 24px;
    }
    footer{
        padding: 100px 0px 0px 0px;
        img{
            margin-left: 55px;
        }
    }
}