.section_profile{
    h1{
        margin-left: 40px;
    }
    .section_profile_wrapper{
        margin-left: 40px;
        width: 315px;
        border-radius: 20px;
        padding: 15px;
        background-color: #fff;
        display: flex;
        flex-wrap: nowrap;
        .wrapper_profile{
            margin-left: 25px;
        }
        h1{
            font-size: 18px;
        }
        span{
            font-size: 13px;
        }
        p{
            font-size: 13px;
        }
        img{
            padding-top: 20px;
        }
    }
    .input{
        margin-left: 40px;
        width: 315px;
        border-radius: 20px;
        padding: 15px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }
    .radio-container{
        display: flex;
        align-items: center;
        margin-top: 10px;
        span{
            margin-left: 10px;
        }
        img{
            margin-left: 10px;
        }
    }
    
}
.button_up{
    margin-top: 200px;
}