form{
    margin-top: 10px;
    img{
        margin: 0px 50px 0px 30px;
    }
    input{
        padding: 2px;
        border-radius: 8px;
        background-color: var(--light-grey);
        width: 300px;
    }
}
.food_wrapper{
            padding: 50px 30px 30px 30px;
            background-color: #fff;
            border-radius: 30px;
            .title_price{
                img{
                }
                .title_food{
                    text-align: center;
                    font-size: 17px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                .price{
                    display: flex;
                    justify-content: center;
                    color: var(--orange);
                    font-size: 17px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
            }
            
        }
    