form {
    margin-top: 50px;

    img {
        margin: 0px 50px 0px 30px;
    }

    input {
        padding: 2px;
        border-radius: 8px;
        background-color: var(--light-grey);
        width: 300px;
        border: none;
    }
}

.food_search {
    background-color: var(--light-grey-background);
    border-radius: 30px;

    h1 {
        text-align: center;
    }

    .container_food_wrapper {
        display: flex;
        flex-wrap: nowrap;
        a{
            text-decoration: none;
            color: #000;
        }
        .card_wrapper{
            margin-top: 60px;
        }
        .food_wrapper {
            margin: 30px 0px 0px 40px;
            background-color: #fff;
            box-shadow: 3px 3px 7px 3px rgba(34, 60, 80, 0.2);
            border-radius: 50px;

            .title_price {
                .title_food {
                    text-align: center;
                    font-size: 17px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                .price {
                    display: flex;
                    justify-content: center;
                    color: var(--orange);
                    font-size: 17px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
            }
        }
    }
}